<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<listener>
		<listener-class>com.cps.application.util.StartupListener</listener-class>
	</listener>
	
	<resource-env-ref>
		<description>DB Connection </description>
		<resource-env-ref-name>jdbc/jtaDataSource</resource-env-ref-name>
		<resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
	</resource-env-ref>
	<resource-env-ref>
		<description>DB Connection </description>
		<resource-env-ref-name>jdbc/jtaDataSourcePacs</resource-env-ref-name>
		<resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
	</resource-env-ref>
	<welcome-file-list>
		<welcome-file>logon.html</welcome-file>
	</welcome-file-list>
	<filter>
		<!-- The CORS filter with parameters -->
		<filter-name>CORS</filter-name>
		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>

		<!-- Note: All parameters are options, if omitted the CORS Filter will 
			fall back to the respective default values. -->
		<init-param>
			<param-name>cors.allowGenericHttpRequests</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>cors.allowOrigin</param-name>
			<param-value>*</param-value>
		</init-param>

		<init-param>
			<param-name>cors.allowSubdomains</param-name>
			<param-value>false</param-value>
		</init-param>

		<init-param>
			<param-name>cors.supportedMethods</param-name>
			<param-value>OPTIONS, GET, PUT, POST, DELETE</param-value>
		</init-param>

		<init-param>
			<param-name>cors.supportsCredentials</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>cors.maxAge</param-name>
			<param-value>0</param-value>
		</init-param>

	</filter>

	<filter-mapping>
		<!-- CORS Filter mapping -->
		<filter-name>CORS</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>